.searchInput{
    width: 16.875rem;
    height: 2rem;
    margin-bottom: 1.19rem;
    border-radius: 1rem;
    border: none;
    border: 1px solid #E7EAEC

}
.searchInput:active{
    border: none;
}
.col-md-6{
    width: fit-content;
    padding-left: 0%;
    padding-right: 0%;
}