.auth-container{
    width: 100vw;
    height: 100%;
}
@media (min-width:1200px){
    .logo{
        width: 10.49875rem;
        padding-top: 6rem;
        filter: drop-shadow(5px 5px 10px #BACDD9);
        animation: fadeInZoom 2s ease-in-out;
    } 
    .data{
        width: 20.49875rem;
        display: block;
        padding-top: 6rem;
        margin-left: auto;
        margin-right: auto;
        animation: fadeInZoom 2s ease-in-out; 
    } 
    .primary-button{
        width: 18.49875rem;
        display: block;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    } 
}
@media screen and (min-width:992px) and (max-width:1199.98px){
    .logo{
        width: 15.49875rem;
        padding-top: 6rem;
        filter: drop-shadow(5px 5px 10px #BACDD9);
        animation: fadeInZoom 2s ease-in-out;
    }
}
@media screen and (max-width: 575.98px){
    .primary-button{
        width: 15.49875rem;
        display: block;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .data{
        width: 15.49875rem;
        display: block;
        padding-top: 8rem;
        margin-left: auto;
        margin-right: auto;
        animation: fadeInZoom 2s ease-in-out;
    }
    .form-label{
        color: aliceblue;
    }
    .form-control{ // Clase de Boostrap utilizada para campos de texto
        width: 15rem;
        background: #BACDD9;
    }
    .logo{
        width: 15.49875rem;
        padding-top: 6rem;
        filter: drop-shadow(5px 5px 10px #BACDD9);
        animation: fadeInZoom 2s ease-in-out;
    }

}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}