.map-container{
    //position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 391px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.place-title{
    margin-left: 3rem;
}

.form-select{
    width: 336px;
    margin-top: 2rem;
    margin-left: 3rem;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .75em 0 .75em;
    margin-top: -0.25em;
    position: relative;
    height: 55px;
}
.privacyComponent{
    margin-left: 25px;
    margin-bottom: 25px;
    @media  screen and (max-width:360px) {
        margin-left:22px;
        margin-bottom: 22px;
    }
}
.question{
    margin-top: 0%;
    margin-left: 25px;
}
.datePicker{
    width: 336px;
    margin-top: 1rem;
    //background: white;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    display: flex;
    position: absolute;
    top: .25em;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: #FFFFFF;
    border-radius: 4px;
    color: #E3DCD7
}

::ng-deep.mat-calendar-body-today.mat-calendar-body-selected {
    background: #D76928;
}

::ng-deep.mat-calendar-body-selected {
    background-color: #D76928;
    color: #fff;
}


.form-label{
    margin-left: 3rem;
}

.form-control{
    margin-left: 3rem;
    width: 336px;
}

.primary-button{
    height: 37.6px;
    margin-left: 6rem;
    margin-top: 16.5rem;
}