<div #mapDiv class="map-container">

</div>
<div class="row" style="margin-top: 2rem;">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label place-title">Punto de Origen</label>
                    <!-- Buscador para punto de SALIDA -->
                    <app-search-bar type="origin"></app-search-bar>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Fecha de Inicio</label>
                    <input type="date" class="form-control"  placeholder="" id="fecha">
                </div>
                
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Hora de Inicio</label>
                    <input type="time" class="form-control"  placeholder="" id="horaI">
                </div>

                <select class="form-select" aria-label="Default select example">
                    <option selected>Conductor Designado</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label place-title">Punto de Llegada</label>
                    <app-search-bar type="destination"></app-search-bar>
                </div>  

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Fecha de Cierre</label>
                    <input type="date" class="form-control"  placeholder="" id="fecha2">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Hora de Llegada</label>
                    <input type="time" class="form-control"  placeholder="" id="horaF">
                </div>

                <select class="form-select" aria-label="Default select example">
                    <option selected>Vehículo Designado</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <button class="primary-button large">Crear Ruta</button>
    </div>
</div>
