.moon{
    width: 2rem;
    height: 2rem;
    display: block;

    margin-left: auto;
    margin-right: auto;
}

.option{
    box-shadow: none;
    background: #FFFFFF;
}
.optionTitle{
    color: #000000;
    //font-family: Open Sans Semibold;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.function{
    color: #A7B1C2;
    //font-family: Open Sans Semibold;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.authButton{
    width:2rem;
    background: transparent;
    
}